<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justh5.experiment.mapper.StudentDao">

 <resultMap id="StudentRegisterModel" type="com.justh5.experiment.model.StudentRegisterModel">
     <result column="stuId" property="stuId"/>
     <result column="stuName" property="stuName"/>
     <result column="stuPwd" property="stuPwd"/>
     <result column="grade" property="grade"/>
     <result column="stuSex" property="stuSex"/>
     <result column="myClass" property="myClass"/>
     <result column="academy" property="academy"/>
     <result column="professional" property="professional"/>
     <result column="stuNum" property="stuNum"/>
 </resultMap>

 <resultMap id="LoginModel" type="com.justh5.experiment.model.LoginModel">
     <result column="stuPwd" property="stuPwd"/>
     <result column="stuNum" property="stuNum"/>
 </resultMap>

    <insert id="registerStudent" parameterType="com.justh5.experiment.model.StudentRegisterModel">
        INSERT INTO student (stuId,stuName,stuPwd,grade,stuSex,myClass,professional,stuNum) VALUE (#{stuId},#{stuName},#{stuPwd},#{grade},#{stuSex},#{myClass},#{professional},#{stuNum})
    </insert>

    <select id="studentLogin" parameterType="com.justh5.experiment.model.StudentRegisterModel">
        select stuNum,stuPwd for student where stuNum = #{loginName} and stuPwd = #{loginPwd}
    </select>
</mapper>